/* Colour Tokens Table */

.cmp-colour-table--borderless{
    /* background-color: #F0F0F0; */
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
}

.cmp-colour-table__th{
    text-align: left;
    padding: 24px 24px 24px 24px;
    border-top: 0;
}

.cmp-colour-table__td{
    vertical-align: top;
    border: 1px solid #d9d9d9;
    padding: 24px 24px 24px 24px;
}

.cmp-colour-table--borderless tr:last-child td{
    border-bottom: 0;
}

.cmp-colour-table--borderless tr td:first-child{
    border-left: 0;
}

.cmp-colour-table--borderless tr td:last-child{
    border-right: 0;
}

.cmp-colour-table__td--gray-background{
    background-color: #DADADA;
    border-radius: 4px;
    padding: 6px 8px;
    font-size: 12px;
}

@media screen{
    .cmp-colour-table__td--gray-background{
        line-height: 1.5;
    }
}

.cmp-colour-table__td.roleCol{
    width: 271px;
    line-height: 1.5em;
}


.cmp-colour-table__colorExample{
    width: 48px;
    height: 48px;
    float: right;
}

@media (max-width: 780px){
    .cmp-colour-table__colorExample{
        width: 24px;
        height: 24px
    }
}

@media (max-width: 780px){
    .cmp-colour-table__colorExample{
        float: none;
    }
}

.cmp-colour-table__td__colorExample-info{
    flex-shrink: 4;
    float: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 160px;
}

@media (max-width: 780px){
    .cmp-colour-table__td__colorExample-info{
        float: none;
    }
}
