/* Space and Layout Library */
/* <div> */
div.headingDiv{
    /* width: 200px; */
    /* height: 68px; */
    padding: 24px 24px 24px 24px;
}

/* <mark> */
mark{
    background-color: #DADADA;
    border-radius: 4px;
    padding: 6px 8px;
    box-sizing: content-box;
}

@media screen and (max-width: 550px){
    mark{
        line-height: 1.5;
    }
}